# =============================================
# NODE
# =============================================
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# =============================================
# ENTORNO
# =============================================
.env
.env.local
.env.production

# =============================================
# LOGS
# =============================================
logs/
*.log

# =============================================
# BUILD / DIST
# =============================================
dist/
build/

# =============================================
# OS
# =============================================
.DS_Store
Thumbs.db
