<footer class="footer-container">
  <div class="footer-content">
    
    <div class="social-icons">
      <a href="#" class="icon-link"><i class='bx bxl-facebook'></i></a>
      <a href="#" class="icon-link"><i class='bx bxl-instagram'></i></a>
      <a href="#" class="icon-link"><i class='bx bxl-twitter'></i></a>
      <a href="#" class="icon-link"><i class='bx bxl-github'></i></a>
    </div>

  </div>

  <div class="footer-bottom">
    <p>Copyright &copy; 2025 Atmora. Desarrollado por Cesar & Alex.</p>
  </div>
</footer>