<section class="hero-container">
  <div class="overlay"></div>

  <div class="content">
    <div class="badge"><span class="pulse"></span> Monitoreo en Tiempo Real</div>

    <h1>ATMORA</h1>

    <p class="subtitle">
      Atmora es la primera plataforma hiperlocal que te informa sobre la calidad del aire en tu zona
      para que tomes mejores decisiones.
    </p>

    <div class="actions">
      <a routerLink="/" fragment="problema" class="btn-secondary">
        Conocer Proyecto <i class="bx bx-down-arrow-alt"></i>
      </a>
    </div>
  </div>
</section>
